@page "/branch"
@inject HttpClient _http
@using BankManagementSystem.Client.DTO
@using System.Net.Http.Json

<PageTitle>Branchs</PageTitle>

<h1>Branchs</h1>

@if (_allItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in _allItems)
            {
                <tr>
                    <td>@client.Id.ToString()</td>
                    <td>@client.Address</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BranchDTO[]? _allItems;

    protected override async Task OnInitializedAsync()
    {
        _allItems = await _http.GetFromJsonAsync<BranchDTO[]>("branch/AllBranchs");
    }
}
